
/*
    Block de création de contrat
*/

.form-contrat {
    background-color: var(--beige-color)!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 60%;
    padding: 50px;
    position: relative;
}

.inputdiv {
    width: 270px;
}

textarea {
    resize: none;
}


/*
    Block de la barre de progretion
*/

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.step {
    min-width: 60px;
    max-width: 60px;
}

.step__title {
    color: black;
}

.step__main {
    left: 0px;
    transition: 1s;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
    Rond de progression
*/

.step__circle-large {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.step__circle-small {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.step__circle-inactive {
    background-color: var(--buff-color) !important;
}

.step__circle-small-active {
    background-color: var(--corn-color) !important;
    border: 2px solid var(--done-color);
}

.step__circle-done {
    background-color: var(--done-color) !important;
}



/*
    Barre de séparation entre les rond de progression
*/

.step__sep {
    min-width: 65px;
    height: 4px;
    border-radius: 2px;
    margin-top: -22px;
    margin-right: 20px;
}

.step__sep-done {
    background-color: var(--done-color) !important;
    transition: 0.3s linear 0.2s;
    width: 0;
}

.step__sep-inactive {
    background-color: var(--buff-color);
}



/*
    Boutons de navigation
*/

.btn-arrow {
    background-color: var(--buff-color);
}

.btn-arrow:hover {
    background-color: var(--corn-color);
}

.btn-arrow:disabled {
    background-color: var(--buff-color);
    cursor: pointer;
    opacity: 1;
    border: none;
}






#mainpartner {
    background-color: var(--beige-color)!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 75%;
    padding: 50px;
    position: relative;
}








.modes {
    position: absolute;
    top: 15px;
    right: 15px;
}







.inputdivcontr {
    width: 360px;
}



.form-check-input:focus {
    box-shadow: none !important;
}


.partner{
    background-color: var(--buff-color);
    border-radius: 15px;
}

.partnercheck:checked {
    background-color: var(--done-color);
    border-color: var(--done-color);
}

.partneritem {
    width: 20%;
}

.partneremail {
    width: 50%;
}


