

/*
Palette :
https://coolors.co/ccd5ae-e9edc9-fefae0-faedcd-d4a373
*/

:root {
    --body-bg-color: #ffffff; /* Tea green */
    --vert-color: #CCD5AE;   /* Tea green */
    --beige-color: #CCD5AE; /* Beige */
    --corn-color: #FEFAE0;    /* Cornsik */
    --papaya-color: #FAEDCD; /* Papaya whip */
    --buff-color: #D4A373;      /* Buff */
    --done-color: #28a745;      /* Vert réussite pour mode clair */
}

.dark-theme {
        --body-bg-color: #1A1A1A; /* Noir pour mode sombre */
        --vert-color: #4A5D23;   /* Vert foncé pour mode sombre */
        --beige-color: #8A795D; /* Beige foncé pour mode sombre */
        --corn-color: #3E3A26;    /* Cornsilk foncé pour mode sombre */
        --papaya-color: #5A4A32; /* Papaya whip foncé pour mode sombre */
        --buff-color: #705438;      /* Buff foncé pour mode sombre */
        --done-color: #1e7e34;      /* Vert réussite foncé pour mode sombre */
}

body {
    margin: none;
    padding: 0 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg-color);
}

#mainform {
    background-color: var(--beige-color)!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 60%;
    padding: 50px;
    position: relative;
}

textarea {
    resize: none;
}

.btn-arrow {
    background-color: var(--buff-color);
}

.btn-arrow:hover {
    background-color: var(--corn-color);
}

.step-circle-large {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.step-circle-small {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.step-title {
    color: black;
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step {
    min-width: 60px;
    max-width: 60px;
}

.step-sep {
    min-width: 65px;
    height: 4px;
    border-radius: 2px;
    margin-top: -22px;
    margin-right: 20px;
}

.step-sep-done {
    background-color: var(--done-color) !important;
}

.step-sep-inactive {
    background-color: var(--buff-color);
}

.step-circle-done {
    background-color: var(--done-color) !important;
}

.step-circle-active {
    background-color: var(--corn-color) !important;
}

.step-circle-inactive {
    background-color: var(--buff-color) !important;
}

.step-circle-active2 {
    background-color: var(--corn-color) !important;
    border: 2px solid var(--done-color);
}

.modes {
    position: absolute;
    top: 15px;
    right: 15px;
}

.mode-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header {
    height: 100px;
    margin-bottom: 30px;
    padding-right: 20px;
    color: var(--buff-color);
}


#userimg {
    height: 50px;
    margin-right: 30px;
    cursor: pointer;
}

#chevronimg {
    height: 20px;
    transform: rotate(-90deg);
}
