



body {
    margin: none;
    padding: 0 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainform {
    background-color: var(--beige-color)!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 60%;
    padding: 50px;
    position: relative;
}

textarea {
    resize: none;
}

.btn-arrow {
    background-color: var(--buff-color);
}

.btn-arrow:hover {
    background-color: var(--corn-color);
}

.btn-arrow:disabled {
    background-color: var(--buff-color);
    cursor: pointer;
    opacity: 1;
    border: none;
}

.step-circle-large {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.step-circle-small {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.step-title {
    color: black;
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step {
    min-width: 60px;
    max-width: 60px;
}

.step-sep {
    min-width: 65px;
    height: 4px;
    border-radius: 2px;
    margin-top: -22px;
    margin-right: 20px;
}

.step-sep-done {
    background-color: var(--done-color) !important;
    transition: 0.3s linear 0.2s;
    width: 0;
}

.step-sep-inactive {
    background-color: var(--buff-color);
}

.step-circle-done {
    background-color: var(--done-color) !important;
}

.step-circle-active {
    background-color: var(--corn-color) !important;
}

.step-circle-inactive {
    background-color: var(--buff-color) !important;
}

.step-circle-active2 {
    background-color: var(--corn-color) !important;
    border: 2px solid var(--done-color);
}

.modes {
    position: absolute;
    top: 15px;
    right: 15px;
}



#mainstepper {
    left: 0px;
    transition: 1s;
}
