.btn-theme {
    background-color: var(--buff-color);
    color: var(--text-color) !important;
}

.btn-theme:hover {
    background-color: var(--corn-color);
}

.contrat {
    background-color: var(--vert-color);
    width: 70%;
    border-radius: 25px;
}
