
.loginmain {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

.loginborder {
    background-color: var(--vert-color);
    padding: 50px;
    border-radius: 25px;
    width: 500px;
}

.inputpass {
    width: 85%;
}



.passdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    height: 37px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid var(--vert-color);
}

button {
    width: 100%;
    background-color: var(--buff-color) !important;
}

button:hover {
    background-color: var(--buff-color-light) !important;
    color: var(--text-color) !important;
}

a {
    text-decoration: none !important;
    color: var(--text-color) !important;
}

a:hover {
    color: rgb(110, 136, 152);
}

.passimg {
    cursor: pointer;
}

.postion-custom {
    top: 5%;
    right: 5%;
 }

