/*
    Palette de couleur du site en deux version : clair et sombre
*/

:root {
    --body-bg-color: #ffffff;
    --vert-color: #CCD5AE;
    --beige-color: #CCD5AE;
    --corn-color: #FEFAE0;
    --papaya-color: #FAEDCD;
    --buff-color: #D4A373;
    --buff-color-light: #e1b287;
    --done-color: #28a745;
    --text-color: black;
}

.dark-theme {
        --body-bg-color: #1A1A1A;
        --vert-color: #4A5D23;
        --beige-color: #8A795D;
        --corn-color: #3E3A26;
        --papaya-color: #5A4A32;
        --buff-color: #705438;
        --buff-color-light: #8A795D;
        --done-color: #1e7e34;
        --text-color: white;
}


/*
    Style du fond des pages
*/

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
}



/*
    Style de l'en-tête
*/

.header {
    height: 100px;
    margin-bottom: 30px;
    padding-right: 20px;
    color: var(--buff-color);
    background-color: var(--body-bg-color);
    position: relative;
}

.header__logo {
    height: 100px;
}

.header__link {
    cursor: pointer;
    text-decoration: none;
    color: var(--buff-color);
}

.header__image-mode {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header__user {
    height: 50px;
    margin-right: 30px;
    cursor: pointer;
}

.header__chevron {
    height: 20px;
    transform: rotate(-90deg);
    transition: 0.6s;
}



/*
    Menu déroulant
*/

.dropdown {
    background-color: var(--buff-color);
    padding: 0 15px;
    border-radius: 0 0 10px 10px;
    width: 200px;
    transition: 0.6s top;
    top: -80px;
    right: 50px;
    z-index: 0;

}


.dropdown__item  {
    cursor: pointer;
    color: black;
    background-color: var(--buff-color-light);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    border-radius: 10px;
    text-decoration: none;
}

.dropdown__image {
    height: 20px;
    margin-right: 10px;
}



/*
    Style du pied de page
*/

.footer {
    background-color: var(--buff-color);
    color: var(--text-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 120px;
    margin-top: 40px;
}

.footer__item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer__image {
    height: 60px;
    cursor: pointer;
}




/*
    Classes utiles
*/

.main-block {
    min-height: calc(100vh - 290px);
}

.strong {
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: var(--text-color);
}

/*
    Boutons du site
*/

.btn-theme {
    background-color: var(--buff-color);
}

.btn-theme:hover {
    background-color: var(--buff-color-light);
}
